
<div  >
  <header>
    <section >
      <img class="title" src="../../../../assets/images/descarga.png" alt="">
    </section>
  </header>

  <section class="section-options">
  
      <input type="text" placeholder="Search...">
      <button class="btn-add" [routerLink]="['/dashboard/new-product']">Agregar</button>
  </section>
    

  <section class="section-table">

    <table border="1"> 

      <tr>
        <th>
          Logo
      </th>
        <th class="un_first">
            Nombre del producto
        </th>
        <th>
            Descripción
        </th>
        
        <th class="un_age">
          Fecha de liberación
        </th>
        <th class="un_address">
            Fecha de ......
        </th>
    </tr>
    <tr>
        <td class="un_first">
            Bill
        </td>
        <td class="un">
            Gates
        </td>
        <td class="un">
            Microsoft
        </td>
        <td class="un_age">
            60
        </td>
        <td class="un_address">
            Washington, United States
        </td>
    </tr>
    
    </table>
   
  </section>
     
    
  </div>
  
