.section-options{
    display: flex;
    max-width: 80rem;
    margin: auto;
    justify-content: space-between;
    margin-top: 6rem;
}

.section-table{
    background-color: white;
    max-width: 80rem;
    margin:0 auto;
    margin-top: .5rem;
    border: solid 1px white;
    font-size: 12px;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
}

.btn-search{
    border: 1px solid  rgba(175, 170, 170, 0.4);
    border-radius: 6px;
    outline: red;
    padding-left: 1rem;
}
.btn-add{
    height: 45px;
    line-height: 45px;
    width: 15%;
    background: #d3d60b;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}
.edit{
    position: relative;
    left: 19px;
    top: -12px;
}
table{
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
    margin: auto;
    width: 100%;
}
th{
    padding: 20px 15px;
    border-bottom: solid 1px rgb(229, 221, 221);
    text-align: left;

    font-weight: 700;
}
td{
    padding: 15px;
    border-bottom: solid 1px rgb(229, 221, 221);
    font-weight: bolder;
    
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    background-color: rgb(171, 163, 163);
}

thead{
    background-color: rgba(229, 221, 221, .4);
}


.w100{
    width: 100px;
}
.w200{
    width: 13rem;
}

.icon{
    color: gray;
}
.footer{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}
.results{
    margin-left: 1rem;
}
.list-items{
    margin-right: 1rem;
}

.form__group--btn-enviar{
    display: flex;
    justify-content: space-evenly;
}

.form__group--btn-enviar{
    grid-column: span 2;
}

.options{
    text-align: center;
}
.icon-options{
    cursor: pointer;
    
}
@media (max-width:1024px) {
    .un_address{
            display:none;
    }

}

@media (max-width:768px) {
    .un_age{
            display:none;
    }

}

@media (max-width:500px) {
    .un_first{
            display:none;
    }

}