
<div>
  <section class="section-options">
  
      <input type="text" #txtTerm (keyup)="searchProduct(txtTerm.value)" class="btn-search" placeholder="Search...">
      <button class="btn-add" [routerLink]="['/dashboard/products']">Agregar</button>
  </section>
    

  <section class="section-table">

    <table class="datatable">  
      <thead>
        <tr>
          <th class="w100">
            Logo <i class="fa-duotone fa-circle-info"></i>
          </th>
          <th class="un_first">
            Nombre del producto
          </th>
          <th>
            Descripción
          </th>
          <th class="un_age w100">
            Fecha de liberación
          </th>
          <th class="un_address w100">
            Fecha de reestructuración
        </th>
        <th class="w100">Acciones</th>

        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let product of products">
          <td class="un_first">
              {{product.logo | logo}}
              <!-- <img [src]="product.logo | logo" [alt]=""> -->
          </td>
          <td class="un">
              {{product.name}}
          </td>
          <td class="un">
              {{product.description}}
          </td>
          <td class="un_age">
              60
          </td>
          <td class="un_address">
              Washington, United States
          </td>
          <td class="">
            <button (click)="deleteProduct(product)">
              Delete
            </button>
            <button  [routerLink]="['/dashboard/products']">Edit</button>

          
        </td>
      </tr>
      </tbody>
  
    
    </table>
    <div class="footer">
      <div class="results">
       {{totalProducts}} Resultados
      </div>
      <div class="list-items">
  
        <select name="n-entries"  [(ngModel)]="limit"(click)="changeLimit()"> 
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="15">15</option>
        </select>
      </div>
      <!-- <button (click)="changePage(-5)">Anteriores</button>
      <button (click)="changePage(5)">Siguientes</button> -->
    </div>
  </section>
     
    
  </div>
  
