
<div>
  <section class="section-options">
  
      <input type="text" #txtTerm (keyup)="searchProduct(txtTerm.value)" class="btn-search" placeholder="Search...">
      <button class="btn-add" [routerLink]="['/dashboard/products']">Agregar</button>
  </section>
    

  <section class="section-table">

    <table class="datatable">  
      <thead>
        <tr>
          <th class="w100">
            Logo  <fa-icon class="icon" [icon]="faCoffee"></fa-icon>
          </th>
          <th class="un_first">
            Nombre del producto  <fa-icon class="icon" [icon]="faCoffee"></fa-icon>
          </th>
          <th>
            Descripción <fa-icon class="icon" [icon]="faCoffee"></fa-icon>
          </th>
          <th class="un_age w200">
            Fecha de liberación <fa-icon class="icon" [icon]="faCoffee"></fa-icon>
          </th>
          <th class="un_address w200">
            Fecha de reestructuración <fa-icon class="icon" [icon]="faCoffee"></fa-icon>
        </th>
        <th class="w100">Acciones</th>

        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let product of products; let i = index" >
          <td class="un_first ">
              <!-- {{product.logo | logo}} -->
              <img class="logo-class w100" [src]="product.logo | logo" [alt]="">
          </td>
          <td class="un">
              {{product.name}}
          </td>
          <td class="un">
              {{product.description}}
          </td>
          <td class="un_age">
              {{product.date_libe | date}}
          </td>
          <td class="un_address">
              {{product.date_rev | date}}
          </td>
          <td class="options">
            <!-- <div>
              <fa-icon class="icon-options" [icon]="faEllipsisV"></fa-icon>
            </div> -->
            <div (click)="editProduct(product)" >
              <fa-icon class="icon-options" [icon]="faEdit"></fa-icon>
            
            </div>
             <div (click)="deleteProduct(product)">
              <fa-icon class="icon-options" [icon]="faTrash"></fa-icon>
             </div>
            <!-- <button (click)="deleteProduct(product)">
              Delete
            </button>
            <button  [routerLink]="['/dashboard/products']">Edit</button> -->

          
        </td>
      </tr>
      </tbody>
  
    
    </table>
    <div class="footer">
      <div class="results">
       {{totalProducts}} Resultados
      </div>
      <div class="list-items">
  
        <select name="n-entries"  [(ngModel)]="limit"(click)="changeLimit()"> 
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="15">15</option>
        </select>
      </div>
      <!-- <button (click)="changePage(-5)">Anteriores</button>
      <button (click)="changePage(5)">Siguientes</button> -->
    </div>
  </section>
     
    
  </div>
  
