.section-options{
    display: flex;
    max-width: 80rem;
    margin: auto;
    justify-content: space-between;
}

.section-table{
    background-color: white;
    max-width: 80rem;
    margin:0 auto;
    margin-top: .5rem;
    border: solid 1px white;
    font-size: 12px;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
}

.btn-search{
    border: 1px solid gray;
    border-radius: 6px;
}

.btn-add{
    background-color: yellow;
    height: 3rem;
    width: 5rem;
    border: 6px solid yellow;
    border-radius: 6px;
    font-weight: bold;
}

table{
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
    margin: auto;
    width: 100%;
}
th{
    padding: 20px 15px;
    border-bottom: solid 1px rgb(229, 221, 221);
    text-align: left;

    font-weight: 700;
}
td{
    padding: 15px;
    border-bottom: solid 1px rgb(229, 221, 221);
    font-weight: bolder;
    
}
tbody tr{
    cursor: pointer;
}
tbody tr:hover{
    background-color: rgb(171, 163, 163);
}

thead{
    background-color: rgb(229, 221, 221);
}

.w100{
    width: 100px;
}

.footer{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
}
.results{
    margin-left: 1rem;
}
.list-items{
    margin-right: 1rem;
}
@media (max-width:1024px) {
    .un_address{
            display:none;
    }

}

@media (max-width:768px) {
    .un_age{
            display:none;
    }

}

@media (max-width:500px) {
    .un_first{
            display:none;
    }

}